<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ASMP - Dashboard</title>

    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/metisMenu/metisMenu.min.css" rel="stylesheet">
    <link href="lib/sb-admin-2//css/sb-admin-2.css" rel="stylesheet">
    <link href="lib/morrisjs/morris.css" rel="stylesheet">
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <style>
        #page-wrapper{
          margin-left: 0px;
          padding-top:10px;
        }

        .header {
            background-color: #f5f5f5;
            border-bottom: 1px solid #dddddd;
            padding-left: 30px;
        }

        .header h1 {
            margin-top: 15px;
        }
    </style>
</head>

<body>
    <div id="wrapper">
        <div class="header">
            <h1>ASMP</h1>
        </div>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div id="morris-donut-chart"></div>
                </div>
                <div class="col-xs-12 col-sm-8">
                     <p>
                 
                    </p>
                   <table class="table">
                       <thead>
                           <tr>
                                <th><h3>Statistics</h3></th>
                                <th>
       <div class="btn-group pull-right">
                            <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">
                                Actions
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><a href="#">Action</a>
                                </li>
                                <li><a href="#">Another action</a>
                                </li>
                                <li><a href="#">Something else here</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a>
                                </li>
                            </ul>
                        </div>    
                                </th>
                            </tr>
                       </thead>
                       <tbody>
                       <tr>
                           <td>Last measurement</td>
                           <td>10 seconds ago</td>
                       </tr>
                       <tr>
                            <td>Today's usage</td>
                            <td>1.25 KwH</td>
                        </tr>
                        <tr>
                            <td>Yesterday's usage</td>
                            <td>1.25 KwH</td>
                        </tr>
                       <tr>
                            <td>Average daily usage</td>
                            <td>2.56 KwH</td>
                        </tr>
                        <tr>
                            <td>Highest daily usage</td>
                            <td>12.56 KwH (13-12-2016)</td>
                        </tr>
                        <tr>
                            <td>Lowest daily usage</td>
                            <td>5.56 KwH (02-04-2015)</td>
                        </tr>
                       </tbody>
                   </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <h3>Usage graph</h3>
                </div>
                <div class="col-xs-4">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">
                            Actions
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="#">Action</a>
                            </li>
                            <li><a href="#">Another action</a>
                            </li>
                            <li><a href="#">Something else here</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a>
                            </li>
                        </ul>
                    </div>    
                </div>
            </div>
              <div class="row">
                <div class="col-lg-12">
                    <div id="morris-area-chart"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="lib/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="lib/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="lib/raphael/raphael.min.js"></script>
    <script src="lib/morrisjs/morris.min.js"></script>
    <script src="lib/sb-admin-2/js/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="lib/sb-admin-2/js/sb-admin-2.js"></script>

</body>

</html>
