{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ASMP - {% block title%} {% endblock%}</title>

    <link href={% static 'web/libs/bootstrap/css/bootstrap.min.css'%} rel="stylesheet">
    <link href={% static 'web/libs/font-awesome/css/font-awesome.min.css'%} rel="stylesheet">
    <link href={% static 'web/css/general.css'%} rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="row">
            <div class="col-xs-1">
                <h1>ASMP</h1>
            </div>
            <div class="col-xs-11">
                <ul class="navigation-big">
                    <li><a href="/">Dashboard</a></li>
                    <li><a href="/logs">Log</a></li>
                </ul>

                <a class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="true" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </a>

            </div>
        </div>
    </div>
    <div id="wrapper">
          <div id="loading-overlay">
            <div class="loader"></div>
        </div>
        <div id="page-wrapper">
            {% block body %}
            {% endblock %}
        </div>
    </div>
    <div class="footer">
        &nbsp;
    </div>
    <script src={% static 'web/libs/jquery/jquery.min.js'%}></script>
    <script src={% static 'web/libs/bootstrap/js/bootstrap.min.js'%}></script>
    <script src={% static 'web/libs/highcharts/highcharts.js'%}></script>
    <script src={% static 'web/libs/highcharts/highcharts-more.js'%}></script>
    <script src={% static 'web/libs/highcharts/solid-gauge.js'%}></script>
    <script src={% static 'web/libs/highcharts/exporting.js'%}></script>
    <script src={% static 'web/libs/momentjs/moment-with-locales.min.js'%}></script>
    <script src={% static 'web/libs/momentjs/moment-timezone-with-data-2012-2022.js'%}></script>
    <script src={% static 'web/js/app.js'%}></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>