
{% extends 'base.html' %}

{% block body %}

<div class="row">
    <div class="col-xs-12 col-sm-4">
        <h3>Now</h3>
        <div id="js-current-chart" style="width: 100%; height: 100%; margin: 0 auto">

        </div>
    </div>
    <div class="col-xs-12 col-sm-8">
         <h3>Last 5 minutes<h3>
         <div id="js-recent-chart">
            
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-8">
        <h3>Overview</h3>
    </div>
    <div class="col-xs-4">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">
                Switch period
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li><a href="#">Day graph</a></li>
                <li><a href="#">Month graph</a></li>
                <li><a href="#">Year graph</a></li>
            </ul>
        </div>    
    </div>
</div>
    <div class="row">
    <div class="col-lg-12">
        <div id="js-overview-chart" style="min-width: 310px; height: 400px; margin: 0 auto">
            
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h3>Statistics</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table statistics-table">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Day</th>
                    <th>Month</th>
                    <th>Year</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>Current usage</td>
                <td>{{ model.dayStats.current }}</td>
                <td>{{ model.monthStats.current }}</td>
                <td>{{ model.yearStats.current }}</td>
            </tr>
            <tr id="js-stats-previous-row">
                <td>Previous usage</td>
                <td>{{ model.dayStats.previous }}</td>
                <td>{{ model.monthStats.previoust }}</td>
                <td>{{ model.yearStats.previous }}</td>
            </tr>
            <tr id="js-stats-avg-row">
                <td>Average usage</td>
                <td>{{ model.dayStats.avg }}</td>
                <td>{{ model.monthStats.avg }}</td>
                <td>{{ model.yearStats.avg }}</td>
            </tr>
            <tr id="js-stats-max-row">
                <td>Highest usage</td>
                <td>{{ model.dayStats.max.usage }}</td>
                <td>{{ model.monthStats.max.usage }}</td>
                <td>{{ model.yearStats.max.usage }}</td>
            </tr>
            <tr id="js-stats-min-row">
                <td>Lowest usage</td>
                <td>{{ model.dayStats.min.usage }}</td>
                <td>{{ model.monthStats.min.usage }}</td>
                <td>{{ model.yearStats.min.usage }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}




