
{% extends 'base.html' %}

{% block body %}

<div class="row">
    <div class="col-xs-12 col-sm-4">
        <h3>Now</h3>
        <div id="js-current-chart" style="width: 100%; height: 100%; margin: 0 auto">

        </div>
    </div>
    <div class="col-xs-12 col-sm-8">
         <h3>Last 5 minutes<h3>
         <div id="js-recent-chart">
            
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-8">
        <h3>Overview</h3>
    </div>
    <div class="col-xs-4">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">
                Switch period
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li><a href="#">Day graph</a></li>
                <li><a href="#">Month graph</a></li>
                <li><a href="#">Year graph</a></li>
            </ul>
        </div>    
    </div>
</div>
    <div class="row">
    <div class="col-lg-12">
        <div id="js-overview-chart" style="min-width: 310px; height: 400px; margin: 0 auto">
            
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h3>Statistics</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table statistics-table">
            <thead>
                <tr>
                    <th><span class="usage-color">Usage</span></th>
                    <th>Day</th>
                    <th>Month</th>
                    <th>Year</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>Current</td>
                <td>{{ model.day_stats.current.usage|floatformat:2 }} kWh</td>
                <td>{{ model.month_stats.current.usage|floatformat:2 }} kWh</td>
                <td>{{ model.year_stats.current.usage|floatformat:2 }} kWh</td>
            </tr>
            <tr id="js-stats-previous-row">
                <td>Previous</td>
                <td>{{ model.day_stats.previous.usage|floatformat:2 }} kWh</td>
                <td>{{ model.month_stats.previous.usage|floatformat:2 }} kWh</td>
                <td>{{ model.year_stats.previous.usage|floatformat:2 }} kWh</td>
            </tr>
            <tr id="js-stats-avg-row">
                <td>Average</td>
                <td>{{ model.day_stats.avg|floatformat:2 }} kWh</td>
                <td>{{ model.month_stats.avg|floatformat:2 }} kWh</td>
                <td>{{ model.year_stats.avg|floatformat:2}} kWh</td>
            </tr>
            <tr id="js-stats-max-row">
                <td>Highest</td>
                <td>{{ model.day_stats.max.usage|floatformat:2 }} kWh ({{ model.day_stats.max.timestamp|date:"d-m-Y" }})</td>
                <td>{{ model.month_stats.max.usage|floatformat:2}} kWh ({{ model.month_stats.max.timestamp|date:"M Y" }})</td>
                <td>{{ model.year_stats.max.usage|floatformat:2}} kWh ({{ model.year_stats.max.timestamp|date:"Y" }})</td>
            </tr>
            <tr id="js-stats-min-row">
                <td>Lowest</td>
                <td>{{ model.day_stats.min.usage|floatformat:2}} kWh ({{ model.day_stats.min.timestamp|date:"d-m-Y" }})</td>
                <td>{{ model.month_stats.min.usage|floatformat:2}} kWh ({{ model.month_stats.min.timestamp|date:"M Y" }})</td>
                <td>{{ model.year_stats.min.usage|floatformat:2}} kWh ({{ model.year_stats.min.timestamp|date:"Y" }})</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}




