{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="row">
    <div class="col-xs-12">
        <h3>Status</h3>
      </div>
</div>

{% regroup model by module as message_groups %}

{%for message_group in message_groups%}
    <h4>{{ message_group.grouper }}</h4>

    <div class="console">
        
               
                    {% for message in message_group.list %}
                         <span>{{ message.timestamp|date:"H:i:s" }} :{{ message.text }}</span>
                    {% endfor %}
                </span>
            
        </div>
{%endfor%}

{% endblock %}

{% block scripts %}
{% endblock %}
    




